flask==2.3.2
gunicorn==20.1.0
googlemaps==4.10.0
openai==1.84.0
ortools==9.14.6206
pandas>=2.0,<2.3
numpy>=1.23,<2.0
matplotlib>=3.7
python-dotenv==1.1.0
tqdm
folium==0.16.0
geopy==2.4.1
protobuf
polyline
werkzeug>=2.3.3
jinja2>=3.1.2
itsdangerous>=2.1.2
click>=8.1.3
blinker>=1.6.2
setuptools>=3.0
requests>=2.20.0,<3.0
anyio>=3.5.0,<5
distro>=1.7.0,<2
httpx>=0.23.0,<1
jiter>=0.4.0,<1
pydantic>=1.9.0,<3
sniffio
typing-extensions>=4.11,<5
absl-py>=2.0.0
immutabledict>=3.0.0
branca>=0.6.0
xyzservices
geographiclib>=1.52,<3
python-dateutil>=2.8.2
pytz>=2020.1
tzdata>=2022.7
charset-normalizer>=2,<4
urllib3>=1.21.1,<3
contourpy>=1.0.1
cycler>=0.10
fonttools>=4.22.0
kiwisolver>=1.3.1
packaging>=20.0
pillow>=8
pyparsing>=2.3.1
MarkupSafe>=2.0
six>=1.5
typing-inspection>=0.4.0
streamlit
